.ui.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border:none;
}

.ui.borderless.topmenu2.menu {
  background-color: #292929;
  box-shadow: none;
  border:none;
  color: white;
}

.ui.borderless.midmenu3.menu {
  background-color: #f4f8fe;
  box-shadow: none;
  text-align: center;
  font-weight: bold;


}


.ui.borderless.midmenu2.menu {
  background-color: white;
  box-shadow: none;
  border:15px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-family: sans-serif;
}

.ui.borderless.midmenu1.menu {
  background-image: url("https://d2z1w4aiblvrwu.cloudfront.net/ad/ZWFf/coors-light-crack-open-mountain-cold-refreshment-song-by-berry-lipman-singers-large-4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #D6DCDF; /* Tint color */
  background-blend-mode: lighten;

  text-align: center;
  box-shadow: none;
  border:none;

}


body {
  margin:0;
  font-family: sans-serif;
  display: block;
}
h1{
  font-size: 45px;
}

h3{
  color: grey;
}

h4{
  color:dodgerblue;
  line-height: 100px;
}

h5{
  font-size: 96px;
  line-height: 96px;
}

h6{
  font-size: 16px;
  color:grey;
}

